.container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #2d7dbf;
}

/* Close button */
.closeButton {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  color: #2d7dbf;
}
